
.lock-waf_darwin_build

*.py

*.pyc

build/.wafpickle-98

build/app_resources.pbpack

*.pbw

*.log

*.bin

*.elf

*.map

*.data

*.manifest

*.table

*.pfo

*.pbi

*.o

*.h

include

lib

*.ld

resources/wscript

tools

waf

wscript
